<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Let\'s party!')}"/>

<body>

<div th:replace="~{fragments/header :: navbar}"/>

<main class="container" th:if="${party}" th:object="${party}">
    <form th:action="@{|/admin/partyedit/*{id}|}" method="post" class="row g-3">
        <div class="row my-3">
            <div class="col-6">
                <h2 th:text="*{name}"/>
            </div>
            <div class="col-6 text-end">
                <button type="submit" class="btn btn-primary">save</button>
            </div>
        </div>
        <div class="row my-3 p-2">
            <div class="col col-12">
                <span th:text="*{#temporals.format(date, 'dd/MM/yyyy')}"/>
                in
                <a th:href="@{|/venuedetails/*{venue.id}|}" th:text="*{venue.venueName}"></a>
            </div>
        </div>
        <div class="col-12">
            <label for="partyName" class="form-label">naam </label>
            <input id="partyName" focus class="form-control" th:field="*{name}">
        </div>
        <div class="col-12">
            <a th:href="@{|/partydetails/*{venue.id}|}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
            </a>
            <button type="submit" class="btn btn-primary">save</button>
        </div>
    </form>
</main>
<main class="container" th:unless="${party}">
    <p>geen geldige party gekozen</p>
</main>

<div th:replace="~{fragments/footer :: footerCommon}"></div>

</body>
</html>