<!DOCTYPE html >
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Let\'s party!')}"/>

<body>

<div th:replace="~{fragments/header :: navbar}"/>

<main class="container" th:if="${party}" th:object="${party}">
    <form th:action="@{|/admin/partynew|}" method="post" class="row g-3">
        <div class="col-6">
            <h2>nieuwe party</h2>
        </div>
        <div class="col-6 text-end">
            <button type="submit" class="btn btn-primary">create</button>
        </div>
        <div class="col-12 bg-danger text-white" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>
        <div class="col-12">
            <label for="partyName" class="form-label">naam </label>
            <input id="partyName" focus class="form-control" th:field="*{name}" th:errorclass="is-invalid">
        </div>
        <div class="col-12">
            <label for="venuewhere" class="form-label">zaal </label>
            <select id="venuewhere" class="form-select" th:field="*{venue}" th:errorclass="is-invalid">
                <option value=""></option>
                <option th:each="v : ${venues}" th:selected="*{venue}"
                        th:value="${v.id}" th:text="${v.venueName}"></option>
            </select>
        </div>
        <div class="col-6">
            <label for="date" class="form-label">datum </label>
            <input type="date" id="date" name="date" th:value="*{date}" class="form-control"
                   placeholder="dd/mm/jjjj" th:errorclass="is-invalid">
        </div>
        <div class="col-6">
            <label for="doors" class="form-label">deuren </label>
            <input type="time" id="doors" th:field="*{doors}" class="form-control"
                   placeholder="HH:mm" th:errorclass="is-invalid">
        </div>
        <div class="col-6">
            <label for="pricePresaleInEur" class="form-label">prijs voorverkoop </label>
            <div class="input-group ">
                <input id="pricePresaleInEur" th:field="*{pricePresaleInEur}" class="form-control" th:errorclass="is-invalid">
                <span class="input-group-text">&euro;</span>
            </div>
        </div>
        <div class="col-6">
            <label for="priceInEur" class="form-label">prijs aan de kassa </label>
            <div class="input-group ">
                <input id="priceInEur" th:field="*{priceInEur}" class="form-control" th:errorclass="is-invalid">
                <span class="input-group-text">&euro;</span>
            </div>
        </div>
        <div class="col-12">
            <label for="extraInfo" class="form-label">extra info </label>
            <textarea id="extraInfo" class="form-control" th:field="*{extraInfo}" th:errorclass="is-invalid"/>
        </div>
        <div class="col-12">
            <a th:href="@{|/partylist|}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
            </a>
            <button type="submit" class="btn btn-primary">create</button>
        </div>
    </form>

</main>

<div th:replace="~{fragments/footer :: footerCommon}"></div>

</body>
</html>