html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.home {
    background-color: #0c0903;
    color: #ffdda3;
}

.about {
    background-color: turquoise;
}