<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Let\'s party!')}"/>
<body>

<div th:replace="~{fragments/header :: navbar}"/>

<main class="container">
    <h1>Over mij</h1>
    <ol class="about">
        <li th:text="${myName}">name</li>
        <li th:text="${myStreet}">street</li>
        <li th:text="${myCity}">city</li>
    </ol>
    <p th:text="|Ik ben ${myName} en woon in ${myStreet}, te ${myCity}|">text</p>
</main>

<div th:replace="~{fragments/footer :: footerCommon}"></div>

</body>
</html>