<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Let\'s party!')}"/>

<body class="home">

<div th:replace="~{fragments/header :: navbar}"/>

<main class="container">
    <h2 th:if="${loginName!=null}" th:text="|Hello ${loginName}|" class="hello">hello</h2>
    <div class="">
        <a th:if="${loginName!=null}" th:href="@{|/logout|}" class="nav-link">
            <button>logout</button>
        </a>
        <a th:if="${loginName==null}" th:href="@{|/login|}" class="nav-link">
            <button>login</button>
        </a>
    </div>
    <img th:src="@{/img/party.png}" alt="Party" class="img-fluid">
</main>

<div th:replace="~{fragments/footer :: footerHome}"></div>

</body>
</html>