<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Let\'s party!')}"/>

<body>

<div th:replace="~{fragments/header :: navbar}"/>

<main class="container" th:if="${party}" th:object="${party}">
    <div class="row my-3">
        <div class="col-6">
            <h2 th:text="*{name}"/>
        </div>
        <div class="col-6 text-end" sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{|/admin/partyedit/*{id}|}" >
                <button class="btn btn-outline-primary">edit</button>
            </a>
        </div>
        <div class="col-6 text-end" sec:authorize="hasAuthority('USER')">
            <form th:action="@{|/partygoing/${party.id}|}" method="post">
                <span th:if="${isGoing}">Jij gaat, <span sec:authentication="name"></span>!!</span>
                <button type="submit" value="toggle" th:text="${isGoing}? 'nee toch niet': 'ja ik wil gaan'"
                        class="btn btn-primary"></button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col text-start">
            <a th:href="@{|/partydetails/${prevId}|}" class="link-dark text-decoration-none">
                <button class="btn btn-outline-primary">&lt;</button>
            </a>
        </div>
        <div class="col text-end">
            <a th:href="@{|/partydetails/${nextId}|}" class="link-dark text-decoration-none">
                <button class="btn btn-outline-primary">&gt;</button>
            </a>
        </div>
    </div>
    <div class="row my-3 p-2">
        <div class="col col-12">
            <span th:text="*{#temporals.format(date, 'dd/MM/yyyy')}"/>
            in
            <a th:href="@{|/venuedetails/*{venue.id}|}" th:text="*{venue.venueName}" th:if="*{venue}"></a>
            <span th:unless="*{venue}">(nog niet beslist)</span>
        </div>
    </div>
    <div class="row my-3 p-2">
        <h3 th:if="*{pricePresaleInEur==null && priceInEur==null}">
            Gratis Party!
        </h3>
        <div class="col-12">
            <span th:if="*{pricePresaleInEur!=null}"
                  th:text="|*{pricePresaleInEur}${'&euro;'} (voorverkoop) |"/>
            <span th:if="*{pricePresaleInEur!=null && priceInEur!=null}"> / </span>
            <span th:if="*{priceInEur!=null}"
                  th:text="|*{priceInEur}${'&euro;'} (aan de kassa)|"/>
        </div>
        <div class="col-12" th:if="*{venue}">
            <span th:text="|*{venue.city} (*{venue.distanceFromPublicTransportInKm} km van openbaar vervoer)|"/>
        </div>
        <div class="col-12" th:text="|deuren: *{#temporals.format(doors, 'HH:mm')}|"/>
        <div class="col-12 my-3 p-2" th:if="*{!extraInfo.isBlank()}" th:text="*{extraInfo}"/>
    </div>
    <div class="container mt-5 p-0 border-top" th:if="*{artists.size()>0}">
        <h3 class="p-2">Lineup: </h3>
        <div class="row my-1">
            <div th:each="artist:*{artists}" class="card-group col col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card m-1 p-2 text-center">
                    <a th:href="@{|/artistdetails/${artist.id}|}" class="link-dark text-decoration-none">
                        <h6 th:text="${artist.artistName}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 p-0 border-top" th:if="*{animals.size()>0}">
        <div class="row my-3">
            <div class="col-6">
                <h3 class="p-2">wie gaat? </h3>
            </div>
        </div>
        <div class="row my-1 ">
            <div th:each="animal:*{animals}" class="card-group col col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card m-1 p-2 text-center">
                    <a th:href="@{|/animaldetails/${animal.id}|}" class="link-dark text-decoration-none">
                        <h6 th:text="${animal.name}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<main class="container" th:unless="${party}">
    <p>geen geldige party gekozen</p>
</main>

<div th:replace="~{fragments/footer :: footerCommon}"></div>

</body>
</html>