<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('pay')}"/>

<body>

<p class="m-3 p-3 border border-danger border-3 rounded bg-primary text-white"
   th:text="|De datum van vandaag is ${today}|"></p>
<p class="m-3 p-3 border border-warning border-3 bg-info"
   th:text="|De uiterste datum van betalen is ${payday}|"></p>
<p th:if="${isWeekend}" class="m-3 p-3">Prettig weekend, je hebt het verdiend!</p>
<p th:unless="${isWeekend}" class="m-3 p-3">Voor je het weet is het weekend!</p>

</body>
</html>