<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Let\'s party!')}"/>

<body>

<div th:replace="~{fragments/header :: navbar}"/>

<main class="container">
    <h2>zalen</h2>
    <div class="row">
        <div class="col-12" th:text="|${nrOfVenues} zalen gevonden|"/>
        <div class="col-12">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                filters
            </button>
        </div>
    </div>
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form th:action="@{/venuelist}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Filters</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
                    </div>
                    <div class="modal-body mx-2">
                        <p>hier komen de filters</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                        <button type="submit" class="btn btn-primary">zoek</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div th:each="venue: ${venues}"
             class="card-group col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card m-1 p-2 text-center">
                <a th:href="@{|/venuedetails/${venue.id}|}"
                   class="link-dark text-decoration-none">
                    <h3 th:text="${venue.venueName}"></h3>
                    <div th:text="|${venue.capacity} personen|"/>
                </a>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footerCommon}"></div>

</body>
</html>