<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Let\'s party!')}"/>

<body>

<div th:replace="~{fragments/header :: navbar}"/>

<main class="container">
    <h2>zalen</h2>
    <div class="row">
        <div class="col-12" th:text="|${venues.size()} zalen gevonden|"/>
        <div class="col-12">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                filters
            </button>
        </div>
    </div>
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 85vw">
            <form th:action="@{/venuelist}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Filters</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
                    </div>
                    <div class="modal-body mx-2">
                        <div class="row border rounded mt-3">
                            <div class="col-12 p-1">
                                <h5>capaciteit</h5>
                            </div>
                            <div class="col-12 col-md-6 p-1">
                                <label class="form-label">minimum</label>
                                <div class="input-group">
                                    <input type="number" aria-label="minimum capaciteit" name="minCapacity"
                                           th:value="${param.minCapacity}"
                                           step="50">
                                    <span class="input-group-text">personen</span>
                                </div>
                            </div>
                            <div class="col-12  col-md-6 p-1">
                                <label class="form-label">maximum</label>
                                <div class="input-group">
                                    <input type="number" aria-label="maximum capaciteit" name="maxCapacity"
                                           th:value="${param.maxCapacity}"
                                           step="50">
                                    <span class="input-group-text">personen</span>
                                </div>
                            </div>
                        </div>
                        <div class="row border rounded mt-3">
                            <div class="col-12 p-1">
                                <h5>afstand van openbaar vervoer</h5>
                            </div>
                            <div class="col-12 input-group p-1">
                                <input type="number" aria-label="afstand van openbaar vervoer" name="maxDistance"
                                       th:value="${param.maxDistance} ? ${param.maxDistance} : ''" step="1">
                                <span class="input-group-text">km maximum</span>
                            </div>
                        </div>
                        <div class="row border rounded mt-3">
                            <div class="col-12 p-1">
                                <h5 class="card-title">eten mogelijk</h5>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterFood" value=""
                                               class="form-check-input mt-0"
                                               aria-label="eten ja en nee"
                                               th:checked="${filterFood==null}">
                                    </div>
                                    <div class="input-group-text">alles</div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterFood" value="true"
                                               class="form-check-input mt-0"
                                               aria-label="eten ja"
                                               th:checked="${filterFood==true}">
                                    </div>
                                    <div class="input-group-text">ja</div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterFood" value="no"
                                               class="form-check-input mt-0"
                                               aria-label="eten nee"
                                               th:checked="${filterFood==false}">
                                    </div>
                                    <div class="input-group-text">nee</div>
                                </div>
                            </div>
                        </div>
                        <div class="row border rounded mt-3">
                            <div class="col-12 p-1">
                                <h5 class="card-title">binnen</h5>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterIndoor" value=""
                                               class="form-check-input mt-0"
                                               aria-label="binnen ja en nee"
                                               th:checked="${filterIndoor==null}">
                                    </div>
                                    <div class="input-group-text">alles</div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterIndoor" value="yes"
                                               class="form-check-input mt-0"
                                               aria-label="binnen ja"
                                               th:checked="${filterIndoor==true}">
                                    </div>
                                    <div class="input-group-text">ja</div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterIndoor" value="no"
                                               class="form-check-input mt-0"
                                               aria-label="binnen nee"
                                               th:checked="${filterIndoor==false}">
                                    </div>
                                    <div class="input-group-text">nee</div>
                                </div>
                            </div>
                        </div>
                        <div class="row border rounded mt-3">
                            <div class="col-12 p-1">
                                <h5 class="card-title">buiten</h5>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterOutdoor" value=""
                                               class="form-check-input mt-0"
                                               aria-label="buiten ja en nee"
                                               th:checked="${filterOutdoor==null}">
                                    </div>
                                    <div class="input-group-text">alles</div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterOutdoor" value="yes"
                                               class="form-check-input mt-0"
                                               aria-label="buiten ja"
                                               th:checked="${filterOutdoor==true}">
                                    </div>
                                    <div class="input-group-text">ja</div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="input-group p-1">
                                    <div class="input-group-text">
                                        <input type="radio" name="filterOutdoor" value="no"
                                               class="form-check-input mt-0"
                                               aria-label="buiten nee"
                                               th:checked="${filterOutdoor==false}">
                                    </div>
                                    <div class="input-group-text">nee</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                        <button type="submit" class="btn btn-primary">zoek</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div th:each="venue: ${venues}"
             class="card-group col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card m-1 p-2 text-center">
                <a th:href="@{|/venuedetails/${venue.id}|}"
                   class="link-dark text-decoration-none">
                    <h3 th:text="${venue.venueName}"></h3>
                    <div th:text="|${venue.capacity} personen|"/>
                </a>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footerCommon}"></div>

</body>
</html>