<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: headerelement('Let\'s party!')}"/>

<body>

<div th:replace="~{fragments/header :: navbar}"/>

<main class="container" th:object="${venue}" th:if="${venue}">
    <h2 th:text="*{venueName}"></h2>
    <div class="row">
        <div class="col text-start">
            <a th:href="@{|/venuedetails/${prevId}|}" class="link-dark text-decoration-none">
                <button class="btn btn-outline-primary">&lt;</button>
            </a>
        </div>
        <div class="col text-end">
            <a th:href="@{|/venuedetails/${nextId}|}" class="link-dark text-decoration-none">
                <button class="btn btn-outline-primary">&gt;</button>
            </a>
        </div>
    </div>
    <div class="my-3 p-0">
        <div th:text="*{city}"/>
        <div>
            zie <a th:href="*{linkMoreInfo}" th:text="*{linkMoreInfo}" target="_blank"/>
        </div>
    </div>
    <h5>faciliteiten:</h5>
    <div class="row mx-0">
        <div class="col border rounded col-6 col-md-4 col-lg-3 col-xl-2"
             th:text="|max *{capacity} personen|"/>
        <div class="col border rounded col-6 col-md-4 col-lg-3 col-xl-2"
             th:text="|*{distanceFromPublicTransportInKm}km van openbaar vervoer|"/>
        <div class="col border rounded col-6 col-md-4 col-lg-3 col-xl-2" th:if="*{foodProvided}">
            eten is voorzien
        </div>
        <div class="col border rounded col-6 col-md-4 col-lg-3 col-xl-2"
             th:if="*{indoor && outdoor}">
            binnen && buiten
        </div>
        <div class="col border rounded col-6 col-md-4 col-lg-3 col-xl-2"
             th:if="*{indoor && !outdoor}">
            alleen binnen
        </div>
        <div class="col border rounded col-6 col-md-4 col-lg-3 col-xl-2"
             th:if="*{!indoor && outdoor}">
            alleen buiten
        </div>
        <div class="col border rounded col-6 col-md-4 col-lg-3 col-xl-2" th:if="*{freeParkingAvailable}">
            gratis parking
        </div>
    </div>
    <div class="container mt-5 p-0 border-top" th:if="${venue.parties.size()>0}">
        <h3 th:text="|parties in *{venueName}|" class=" p-2"/>
        <div class="row my-1 ">
            <div th:each="party:*{parties}" class="card-group col col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card m-1 p-2 text-center">
                    <a th:href="@{|/partydetails/${party.id}|}" class="link-dark text-decoration-none">
                        <h4 th:text="${party.name}"/>
                        <div th:text="${#temporals.format(party.date, 'dd/MM/yyyy')}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>
<main class="container" th:object="${venue}" th:unless="${venue}">
    <p>geen geldige zaal gekozen</p>
</main>

<div th:replace="~{fragments/footer :: footerCommon}"></div>

</body>
</html>